<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/login.css">
      <title>Login</title>
</head>
<body class=" ">
 
    <div class="container mt-4 align-items-center">    
      
              <div class="row mt-5 justify-content-center">
                
                  <div class="col-lg-7 col-md-12 col-sm-12">
                      <div class="card  bg-light  mb-2 shadow-lg p-3  bg-body-tertiary rounded" >
                       <!-- INICIO DE LA CARTA  -->
                              <div class="card-body ">
                              <div class="container">
                                  <div class="row text-center">
                                  
                                      <h4 class="card-title ">Login</h4>
                                  </div>
                                  <div class="row align-items-xl-center">
                                     <div class="col-12 align-items-xl-center"> 
                                          <img class="rounded mx-auto d-block" width="100" height="100" src="https://img.icons8.com/ios-filled/100/user-male-circle.png" alt="user-male-circle"/>
                      
                                  </div>
                              </div>   
                          
                                      <div class="container ">
                                          <!-- inicio del formulario login-->
                                          <form action="/login" method="post">
                                            <div class="form-group">
                                              <label for="username"> <h6>Nombre de usuario</h6> </label>
                                              <!-- Input nombre del usuario -->
                                              <input type="text" class="form-control" id="username" name="user" placeholder="Ingresa tu nombre de usuario">
                                            </div>
                                            <div class="form-group">
                                              <label for="password"> <h6> Contrase침a </h6></label>
                                              <!-- Input contrase침a -->
                                              <input type="password" class="form-control" id="password" name="pass" placeholder="Ingresa tu contrase침a">
                                            </div>
                                            <div class="col-12 align-items-xl-center"> 
                                              <!-- boton de envio -->
                                            <button  type="submit" class=" btn btn-primary mt-3 rounded mx-auto d-block"><h5>Iniciar sesi칩n </h5></button> 
                                          </div>
                                          </form>
                                          <!-- fin del login  -->
                                        </div>
                                  
                                  
                               </div>
                           </div>
                         </div>
              </div>
            
  
           </div>
        </body>
        <script src="./js/boostrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- sweetalert2 para usado para mostrar errores o procesos ejecutados con exito  -->
        <% if (typeof alertMessage !== 'undefined') { %>
          <script>
              Swal.fire({
                title: '<%= title %>',
                  text: '<%= alertMessage %>',
                  icon: '<%= icon%>',
                  confirmButtonText: 'OK'
              }).then(()=>{
                const rolUser = '<%= rolUser %>';
                if (rolUser === 'Admin') {
                    window.location.href = '/registro';
                } else if (rolUser === 'User' || rolUser === 'Tecnico') {
                    window.location.href = '/crear_ticket';
                }
              })
          </script>
      <% } %>

  <!-- sweetalert2 Para  -->
      <% if (typeof alertMessag !== 'undefined') { %>
        <script>
            Swal.fire({
              title: '<%= title %>',
                text: '<%= alertMessag %>',
                icon: '<%= icon%>',
                confirmButtonText: 'OK'
            })
        </script>
    <% } %>
      
<%- include('./layout/pieLogin')-%>
        
        </html>